//Colors
$primary: #334353;
$secondary: #6b6a70;
$secondary_400: #6b6a70be;
$accent: #d6b48e;
$accent_400: #d6b48ed7;

$input: #000000 65%;
$filled-input: #000000;
$inactive-input: #838383;

$error: #b00020;
$info: #005db3;
$success: #13e428;
$favourite: #cf0b2e;

//Font
$grandstander: "Grandstander";
$roboto: "roboto";
